# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Puppeteer screenshots
/src/profile_pics/

# Files
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build files
/build/

# Coverage reports
/coverage/

# Creator data
creatorsData.json
config.json
